<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% if name %}
    <title>{{ title }} - {{ name }}</title>
  {% else %}
    <title>{{ title }}</title>
  {% endif %}

  <!-- Custom fonts for this template-->
  <link href="{{ static('fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ static('weather-icons/css/weather-icons.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ static('style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="app">
    <div>
      <navbar @users="onUser" @page="onPage"/>
    </div>

    <div class="modal fade" v-if="" tabindex="-1" aria-hidden="true">
      <compenent :is="modal" />
    </div>
  </div>

  <script>
    var __user__ = JSON.parse(`{{ user_data | json | safe }}`);
  </script>

  <script src="{{ static('index.bundle.js') }}"></script>
</body>
</html>
