{% extends "base.html" %}
{% block body %}
<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion transition transition-1 transition--ease-out" id="accordionSidebar">

      {% block sidebar %}
        {% from "defaults.jinja2" import sidebarDefault %}
        {{ sidebarDefault(request) }}
      {% endblock %}

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- TopBar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (TopBar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          {% block topBar %}
          {% endblock %}

        </nav>
        <!-- End of TopBar -->

        <!-- Begin Page Content -->
        <div class="container-fluid px-0 px-sm-3">

          {% block content %}
          {% endblock %}

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">

          {% block footer %}
          {% endblock %}

        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  {% block modals %}
  {% endblock %}

  <!-- Bootstrap core JavaScript-->
  <script src="{{ static("jquery/dist/jquery.min.js") }}"></script>
  <!-- <script src="{{ static("popper.js/dist/popper.min.js") }}"></script> -->
  <script src="{{ static("bootstrap/dist/js/bootstrap.min.js") }}"></script>

  <!-- js-cookie -->
  <script src="{{ static("js-cookie/src/js.cookie.js") }}"></script>
  <!-- Lodash -->
  <script src="{{ static("lodash/lodash.min.js") }}"></script>

  <!-- Vuejs Javascript -->
  <script src="{{ static("vue/dist/vue.common.dev.js") }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ static("jquery.easing/jquery.easing.min.js") }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ static("startbootstrap-sb-admin-2/js/sb-admin-2.min.js") }}"></script>
  <script src="{{ static("js/csrfProtect.js")}}"></script>

  {% block scripts %}
  {% endblock %}

</body>
{% endblock body %}
