<!DOCTYPE html>
<html lang="en">

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="robots" content="noindex" />

        {% if title %}
        <title>BlueWeather - {{ title }}</title>
        {% else %}
        <title>BlueWeather</title>
        {% endif %}
        
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='favicon/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='favicon/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='favicon/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='favicon/apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='favicon/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='favicon/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='favicon/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='favicon/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='favicon/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ url_for('static', filename='favicon/ms-icon-144x144.png') }}">
        <meta name="theme-color" content="#ffffff">

        <!-- {{ url_for('static', filename='') }} -->

        <!-- Bootstrap core CSS-->
        <link href="{{ url_for('static', filename='startbootstrap-sb-admin/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
        <!-- Custom fonts for this template-->
        <link href="{{ url_for('static', filename='startbootstrap-sb-admin/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='weather-icons/css/weather-icons.min.css') }}" rel="stylesheet" type="text/css"> 
        <!-- Page level plugin CSS-->
        <link href="{{ url_for('static', filename='startbootstrap-sb-admin/vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="{{ url_for('static', filename='startbootstrap-sb-admin/css/sb-admin.css') }}" rel="stylesheet">
        
        <!-- Custom styles for this website -->
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        
    </head>
    {% block content %}{% endblock %}

        <!-- Bootstrap core JavaScript-->
        <script src="{{ url_for('static', filename='startbootstrap-sb-admin/vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='startbootstrap-sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <!-- Core plugin JavaScript-->
        <script src="{{ url_for('static', filename='startbootstrap-sb-admin/vendor/jquery-easing/jquery.easing.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/includes/moment.min.js') }}"></script>
        <!-- Custom scripts for all pages-->
        <script src="{{ url_for('static', filename='startbootstrap-sb-admin/js/sb-admin.min.js') }}"></script>
        
        <!-- Custom scripts for this page-->
        {% block scripts %}{% endblock %}

    </body>
</html>