{% extends "main.html" %}

{% block styles %}
<link href="{{ static('settings/style.css') }}" rel="stylesheet" type="text/css">
{% endblock styles %}

{% block content %}
<div id="app-settings">
    {% for app, interface in interfaces.items() %}
        <template><setting-card title="{{ verbose_names.get(app, app) }}" app="{{ app }}" schema="{{ interface | json }}" starting_settings="{{ get_settings(app) | json }}" 
               @modified="on_modified" /></template>
    {% endfor %}
    <div class="bottom ml-sm-0">
        <button class="btn btn-primary" type="submit" :class="save_class" @click="save">
            <i class="fas fa-save"></i>
        </button>
        <button class="btn btn-danger" type="reset" :class="save_class" @click="undo">
            <i class="fas fa-redo"></i>
        </button>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
var modified = {{ modified }}
</script>
<script src="{{ static('settings/app_settings.js') }}"></script>
{% endblock scripts %}