{% extends "main.html" %}

{% block styles %}
<link href="{{ static('settings/style.css') }}" rel="stylesheet" type="text/css">
{% endblock styles %}

{% block content %}
<div id="app-settings">
    {% for app, interface in interfaces.items() %}
        <template><setting-card title="{{ verbose_names.get(app, app) }}" app="{{ app }}" schema="{{ interface | json }}" starting_settings="{{ get_settings(app) | json }}" 
               @modified="on_modified" /></template>
    {% endfor %}
    <button class="btn btn-primary bottom" :class="save_class" @click="save">
        <i class="fas fa-save"></i>
    </button>
</div>
{% endblock content %}

{% block scripts %}
<script>
var modified = {{ modified }}
</script>
<script src="{{ static('settings/app_settings.js') }}"></script>
{% endblock scripts %}