{% extends "layouts/base.html" %}

{% block content %}
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        
        <a class="navbar-brand" href="{{ url_for('main.home') }}">Blue Weather</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="{{ url_for('main.home') }}">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Dashboard</span>
                    </a>
                    <a class="nav-link" href="{{ url_for('main.weather') }}">
                        <i class="fa fa-fw fa-area-chart"></i>
                        <span class="nav-link-text">Weather</span>
                    </a>
                    {% if current_user.is_authenticated %}
                    <a class="nav-link" href="{{ url_for('main.config') }}">
                        <i class="fa fa-fw fa-cogs"></i>
                        <span class="nav-link-text">Settings</span>
                    </a>
                    {% endif %}
                </li>
                
                
            </ul>
            <!-- Hide sidebar -->
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>

            <!-- Top bar -->
            <ul class="navbar-nav ml-auto">

                {% if current_user.is_authenticated %}
                    
                    <span class="navbar-text pr-4">
                        Hello {{ current_user.username }}
                    </span>

                    {% if current_user.permissions.change_perm == True %}
                    <li class="nav-item user-loggedin-priv" id="user-change-priv">
                        <a class="nav-link" href="{{ url_for('users.privileges') }}">
                            <i class="fa fa-fw fa-server"></i>
                            Edit Permissions
                        </a>
                    </li>
                    {% endif %}

                    {% if current_user.permissions.add_user == True %}
                    <li class="nav-item user-loggedin-priv" id="user-add-user">
                        <a class="nav-link" href="{{ url_for('users.register') }}">
                            <i class="fa fa-fw fa-user-plus"></i>
                            Create User
                        </a>
                    </li>
                    {% endif %}
                    


                    <li class="nav-item user-loggedin">
                        <a class="nav-link" href="{{ url_for('users.settings') }}">
                            <i class="fa fa-fw fa-user-circle-o"></i>
                            Account
                        </a>
                    </li>

                    <li class="nav-item user-loggedin" id="user-logout">
                        <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                            <i class="fa fa-fw fa-sign-out"></i>
                            Logout
                        </a>
                    </li>
                {% else %}

                    <li class="nav-item" id="user-login">
                        <a href="{{ url_for('users.login') }}" class="nav-link">
                            <i class="fa fa-fw fa-sign-in"></i>
                            Login
                        </a>
                    </li>

                {% endif %}


            </ul>
        </div>
    </nav>

    {% if current_user.is_authenticated %}
        <!-- Logout Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" role="button" href="{{ url_for('users.logout') }}">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    
    <div class="content-wrapper">
        
        <div class="container-fluid">
            {% include "/includes/messages.html" %}

            <!-- Breadcrumb Page Title -->
            <ol class="breadcrumb">
                {% for crumb in breadcrumbs %}
                    {% if crumb.url %}
                        <li class="breadcrumb-item">
                            <a href="{{ crumb.url }}">{{ crumb.name }}</a>
                        </li>
                    {% else %}
                        <li class="breadcrumb-item active">{{ crumb.name }}</li>
                    {% endif %}
                {% endfor %}
            </ol>
            
            
            <!-- Body -->
            
            {% block body %}{% endblock %}
        
        </div>
        
        
        
    </div>
    <!-- No need to close the body tag, layouts/base does that for us -->
{% endblock content %}