{% extends "layouts/base.html" %}

{% block content %}
<body class="bg-dark">
	<div class="container">
		<div class="card card-login mx-auto mt-5">
			<div class="card-header">

				<span>
				{% if current_user.is_authenticated %}
					{{ current_user.username }} - 
				{% endif %}
				{{ title }}
				</span>

				<a role="button" class="close" aria-label="Close" href="{{ url_for('main.home') }}">
                        <span aria-hidden="true">&times;</span>
				</a>

				{% block header %}{% endblock %}
				
			</div>
			<div class="card-body">
                {% include "/includes/messages.jinja2" %}

				{% block body %}{% endblock %}
			</div>
		</div>
    </div>
{% endblock content %}