{% macro errors(errs) %}
{% for error in errs %}
  <div class="invalid-feedback">
    {{ error }}
  </div>
{% endfor %}
{% endmacro %}

{% set card_class = "col-xl-6 col-lg-7 col-md-10" %}
{% extends "card.html" %}
{% block card %}
<div class="p-5">
  <div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Change Your Password</h1>
  </div>
  <form class="user" method="POST">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <div class="form-group row">
      <div class="col-xl-6 col-12">
        {% set invalid = 'is-invalid' if form.errors.old_password else '' %}
        {{ set_attr(add_classes(form.old_password, "form-control form-control-user " + invalid), 'placeholder', form.old_password.label) }}
        {{ errors(form.errors.old_password) }}
      </div>
    </div>

    <hr class="form-divider">

    <div class="form-group row">
      {% for passname in ["new_password1", "new_password2"] %}
        {% set pass = form[passname] %}
        <div class="col-xl-6 col-12">
          <div class="form-group">
            {% set invalid = 'is-invalid' if form.errors[passname] else '' %}
            {{ set_attr(add_classes(pass, "form-control form-control-user " + invalid), 'placeholder', pass.label) }}
            {{ errors(form.errors[passname]) }}
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="row">
      <div class="col-xl-3 display-lg-block display-none"></div>
      <div class="col-xl-5 col-sm-6 col-12">
        <div class="form-group">
          <button type="submit" class="btn btn-warning btn-user btn-block">
            Change Password
          </button>
        </div>
      </div>
      {% if request.GET.next is defined %}
        {% set next = request.GET.next %}
      {% else %}
        {% set next = url("profile") %}
      {% endif %}
      <div class="col-xl-4 col-sm-6 col-12">
        <div class="form-group">
          <a href="{{ next }}" class="btn btn-success btn-user btn-block">
            Cancel
          </a>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock card%}

