{% extends "layouts/web.jinja2" %}

{% block body %}
    <div class="card mb-3">
        <div class="card-header">Page Not Found</div>
        <div class="card-body">
            <p>
                That page does not exist. Try a different URL.
            </p>
        </div>
        <div class="card-footer small text-muted">404 Error</div>
    </div>
{% endblock body %}