{% block head %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="{{ DEFAULT_CHARSET }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% block meta %}
  <meta name="description" content="">
  {% endblock %}

  {% if name %}
    <title>{{ title }} - {{ name }}</title>
  {% else %}
    <title>{{ title }}</title>
  {% endif %}

  <!-- Custom fonts for this template-->
  <link href="{{ static("@fortawesome/fontawesome-free/css/all.min.css") }}" rel="stylesheet" type="text/css">
  <link href="{{ static("weather-icons/css/weather-icons.min.css") }}" rel="stylesheet" type="text/css">
  <link href="{{ static("css/blueweather.css") }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{{ static("startbootstrap-sb-admin-2/css/sb-admin-2.min.css") }}" rel="stylesheet">

  {% block styles %}
  {% endblock %}

</head>
{% endblock head %}
{% block body %}
{% endblock %}
</html>
