{% extends "main.html" %}

{% from "sidebar.jinja2" import sidebarItem, sidebarHeading, sidebarDivider, sidebarBrand %}
{# {% include "navbar.jinja2" %} #}

{% block sidebar -%}
  {{ sidebarBrand(title, "/", "wi wi-day-cloudy") }}
  {% for item in sidebar %}
    {% set value = item.value %}
    {% set category = item.category %}
    {% if category == "item" %}
      {# Check if the item is the active item #}
      {% set active = request.path == url(value.name + ":index") %}
      {{ sidebarItem(value.verbose_name, url(value.name + ":index"), value.icon, "active" if active else "") }}
    {% elif category == "header" %}
      {{ sidebarHeading(value, "my-3") }}
    {% elif category == "divider" %}
      {{ sidebarDivider("my-0") }}
    {% endif %}
  {% endfor %}
{%- endblock sidebar %}

