{% extends "layouts/user.jinja2" %}

{% block body %}

<div>
    <div id="permissionApp-SelectUser">
        <form>
            <fieldset class="form-group" id="permissions-edit-users">
                <legend class="border-bottom mb-4">Select User</legend>

                <!-- Have a for loop for each user -->

                <div class="form-group" v-for="user in userData">
                    <perm-user :user="user" :editor="editorData"></perm-user>
                </div>
                <edit-users></edit-users>

            </fieldset>
        </form>
    </div>
</div>
{% endblock body %}


{% block scripts %}
    <script src="{{ url_for('static', filename='js/users/permissions.js') }}"></script>
{% endblock scripts %}