{% extends "layouts/user.jinja2" %}

{% block body %}
<form method="POST" action="">
    {% if selectUser %}
        {{ selectUser.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Select User</legend>
            {% for user in selectUser.users %}
                <div class="form-check">
                    <label class="form-check-label">
                        {{ user }}
                        {{ user.label }}
                    </label>
                </div>
            {% endfor %}
            {% if selectUser.users.errors %}
                {% for error in selectUser.users.errors %}
                    <span class="text-danger">{{ error }}</span><br>
                {% endfor %}
            {% endif %}
        </fieldset>
        <div class="form-group">
            {{ selectUser.submit(class="btn btn-outline-primary") }}
        </div>
    {% endif %}
    {% if editUser %}
        {{ editUser.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Edit {{ user }}'s Privileges</legend>
            {% if editUser.add_user %}
                <div class="form-check">
                    <label class="form-check-label">
                        {{ editUser.add_user }}
                        {{ editUser.add_user.label }}
                    </label>
                </div>
            {% endif %}
            {% if editUser.change_perm %}
                <div class="form-check">
                    <label class="form-check-label">
                        {{ editUser.change_perm }}
                        {{ editUser.change_perm.label }}
                    </label>
                </div>
            {% endif %}
            {% if editUser.change_settings %}
                <div class="form-check">
                    <label class="form-check-label">
                        {{ editUser.change_settings }}
                        {{ editUser.change_settings.label }}
                    </label>
                </div>
            {% endif %}
            {% if editUser.reboot %}
                <div class="form-check">
                    <label class="form-check-label">
                        {{ editUser.reboot }}
                        {{ editUser.reboot.label }}
                    </label>
                </div>
            {% endif %}
            {% if editUser.errors %}
                {% for error in editUser.privileges.errors %}
                    <span class="text-danger">{{ error }}</span><br>
                {% endfor %}
            {% endif %}
        </fieldset>
        <div class="form-group">
            <a class="btn btn-outline-info" href="{{ url_for('users.privileges')}}" role="button">Cancel</a>
            {{ editUser.submit(class="btn btn-outline-warning") }}
        </div>
    {% endif %}
</form>
{% endblock body %}