{% extends "layouts/web.jinja2" %}


{% block body %}
    {% for card in settings %}
        <div class="card mb-2">
            <div class="card-header">
                {{ card.name }}
                <button type="button" class="close minimize" data-toggle="collapse" data-target="#{{ card.id }}" aria-expanded="false" aria-controls="{{ card.id }}" aria-label="Collapse">
                    <i class="fas fa-plus-square minimized"></i>
                    <i class="fas fa-minus-square expanded"></i>
                </button>
            </div>
            <div class="collapse" id="{{ card.id }}">
                <div class="card-body">
                    {{ card.content|safe }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock body %}


{% block scripts %}
{{ super() }}
{% endblock scripts %}