{% extends "layouts/web.jinja2" %}

{% block body %}

    <div class="card mb-3">
        <div class="card-header">Status</div>
        <div class="card-body">
            <div class="row">

                {% for card in status %}
                    <div class="col-sm-12 col-lg-6 col-xl-4">
                        <div class="card mb-2" id="{{ card.id }}">
                            {{ card.content|safe }}
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

    {% for card in dashboard_page %}
        <div class="card mb-3" id="{{ card.id }}">
            <div class="card-header">{{ card.name }}</div>
            <div class="card-body">
                {{ card.content|safe }}
            </div>
        </div>
    {% endfor %}

{% endblock body %}


{% block scripts %}
{{ super() }}

{% endblock scripts %}