{% extends "layouts/web.jinja2" %}

{% block body %}

    <div id="status-content">
        {% include "includes/status.jinja2" %}
    </div>

{% endblock body %}


{% block scripts %}
{{ super() }}

{% endblock scripts %}