{% if status %}
    <div class="card mb-3">
        <div class="card-header">Status</div>
        <div class="card-body">

            {% if status.messages|length != 0 %}
                {% for key, message in status.messages.items() %}
                    <div class="alert alert-{{ message[0] }}">
                        {{ message[1] }}
                        {% if message[2] %}
                            <button onclick="status_remove('{{ key }}')" type="button" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        {% endif %}
                    </div>
                {% endfor %}
                <hr class="mb-5">
            {% endif %}

            {% set tables = status.tables %}
            {% include "includes/table.jinja2" %}
        </div>
        <div class="card-footer small text-muted"></div>
    </div>

    <script src="{{ url_for('static', filename='js/status/status.js') }}"></script>
{% endif %}