{% if weather %}
    <div class="card mb-3">
        <div class="card-header">Weather</div>
        <div class="card-body">
            {% set tables = weather.tables %}
            {% include "includes/table.jinja2" %}
        </div>
        <div class="card-footer small text-muted"></div>
    </div>
    
    <script src="{{ url_for('static', filename='js/weather/weather.js') }}"></script>
{% endif %}