{% if status %}
    <div class="card mb-3">
        <div class="card-header">Status</div>
        <div class="card-body">

            <div id="status-messages">
                {% if status.messages %}
                    {% for key, message in status.messages.items() %}
                        <div class="alert alert-{{ message[0] }}">
                            {{ message[1] }}
                        </div>
                    {% endfor %}
                {% endif %}
                <hr class="mb-5">
            </div>

            <div class="row ml-1">
                {% for key, table in status.data.items() %}
                    <div class="col-lg-{{ table.width }} border-between mr-lg-5">
                        <div class="row">
                            <h4>{{ table.title }}</h4>
                        </div>
                        <div class="row table-responsive">
                            <table class="table table-hover table-sm">
                                {% if table.header %}
                                    <tr>
                                        {% for header in table.header %}
                                            <th>
                                                {{ header }}
                                            </th>
                                        {% endfor %}
                                    </tr>
                                {% endif %}
                                {% for row in table.data %}
                                    <tr {% if row.category %}class="table-{{ row.category }}"{% endif %}>
                                        {% for item in row.row %}
                                            <td>
                                                {{ item }}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="card-footer small text-muted">
            <span id="status-time">
                
            </span> 
        </div>
    </div>
{% endif %}