<div class="row ml-1">
    {% for key, table in tables.items() %}
        <div class="col-lg-{{ table.width }} border-between mr-lg-5">
            <div class="row">
                <h4>{{ table.title }}</h4>
            </div>
            <div class="row table-responsive">
                <table class="table table-hover table-sm">
                    {% if table.header %}
                        <tr>
                            {% for header in table.header %}
                                <th>
                                    {{ header }}
                                </th>
                            {% endfor %}
                        </tr>
                    {% endif %}
                    {% for row in table.data %}
                        <tr {% if row.category %}class="table-{{ row.category }}"{% endif %}>
                            {% for item in row.row %}
                                <td>
                                    {{ item }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endfor %}
</div>